.custom-menu-button {
    -fx-background-color: #6A1B9A;
    -fx-text-fill: white;
    -fx-border: none;
    -fx-padding: 10px;
    -fx-font-size: 14px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}

.custom-menu-button:hover {
    -fx-background-color: #9C27B0;
}

.table-view {
    -fx-background-color: white;
    -fx-alternate-row-fill-visible: true;
}

.table-view .column-header-background {
    -fx-background-color: #6A1B9A;
}

.table-view .column-header {
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
